@model SystemException;
<div class="bg-warning" >
    <div class="form-group">
        <label>Error al consultar la factura : </label>
        <small class="help-block">@ViewBag.MensajeError</small>
    </div>
</div>