@{
    ViewData["Title"] = "Inicio";
}
<frm id="frmFactura">
<div class="text-md-center" id="iboxTabla">
    <h1 class="display-4">Facturas</h1>
    <div class="form-group col-md-4 text-md-left">
        <h5><i class="fa fa-file-text-o"></i>Consultar Factura:</h5>
        <div class="input-group">
            <div class="input-group-prepend">
                <br />
                <div class="input-group-text bg-white">
                    <i class="fa fa-search">
                    </i>
                </div>
            </div>
            @Html.TextBox("txtValorFiltro", "", new { @class = "form-control input-sm", placeholder = "ID FACTURA", data_val = "true", data_val_required = "Debe ingresar un valor", data_val_regex = "La longitud mínima del campo es de 1 caracter.", @type = "number" })
            @Html.ValidationMessage("txtValorFiltro", "", new { @class = "text-danger" })
            <button id="btnAplicarBusqueda" class="btn btn-primary" data-style="zoom-in"><i class="fa fa-plus"></i>Buscar</button>
        </div>        
    </div>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10 alert-secondary justify-content-center">
        <h2><i class="fas fa-receipt">Detalle factura</i></h2>
        <div class="table-responsive" id="divTabla">
        </div>
    </div>
    <div class="col-lg-2">
    </div>
</div>
</frm>
